<footer id="contact" class="footer-wrap section section-bg-20 section-fixed pt-7">
    <!-- <div class="footer-top pt-0 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div data-wow-delay="0.3s" class="text-center mb-5 wow fadeInUp" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="simple_line center thick color mb-2"></div>
                        <h3 class="fw-bold os-font white fz-35 mb-1">CONTACT INFORMATION</h3>
                        <p class="white">
                            I care not to perform this part of my task methodically. But shall be content to produce the desired impression.<br>
                            From these citations, I take it and dash the conclusion aimed at will naturally follow of itself.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div data-wow-delay="0.3s" class="wow fadeInLeft" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                        <form class="contact-form">
                            <div class="row mb-2">
                                <div class="col-sm-12">
                                    <input type="text" class="highlighted" name="author" id="author" placeholder="Name (required)">
                                </div>
                                <div class="col-sm-12">
                                    <input type="text" class="highlighted" name="email" id="email" placeholder="Email (required)">
                                </div>
                                <div class="col-sm-12">
                                    <textarea name="comment" id="comment" class="highlighted fullwidth" placeholder="Your comment" rows="8"></textarea>
                                </div>
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-color uppercase os-font">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="mt-5 seperate-line"></div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="footer-bottom p-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="white">Follow me on:&nbsp;<a class="color" href="#" target="_blank">Twitter</a>&nbsp;|&nbsp;<a class="color" href="#" target="_blank">Facebook</a>&nbsp;|&nbsp;<a class="color" href="#" target="_blank">YouTube</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>