<div id="about" class="section pt-7 pb-9">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div data-wow-delay="0.3s" class="text-center mb-5 wow fadeInUp" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <i class="mdi-image-filter-hdr icon-title"></i>
                    <h2 class="fw-bold os-font color-2 fz-53 double_lined mb-1">About Us</h2>
                    <p class="dark-color fz-19">
                        <em>We Are Known For Efficiency &amp; Readiness</em>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="wow fadeInLeft" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <p>
                        <span class="first-letter">T</span>he three men at her mast-head wore long streamers of narrow red bunting at their hats; from the stern, a whale-boat was suspended, bottom down; and hanging captive from the bowsprit was seen the long lower jaw of the last whale.
                    </p>
                    <p>
                        <strong>Signals, ensigns, and jacks</strong> of all colours were flying from her rigging, on every side. Sideways lashed in each of her three basketed tops were two barrels of sperm; above which, in her top-mast cross-trees, you saw slender breakers of the same precious fluid; and nailed to her main truck was a brazen lamp.
                    </p>
                    <p>
                        As was afterwards learned, the <em>Bachelor</em> had met with the most surprising success; all the more wonderful, for that while cruising in the same seas numerous other vessels had gone entire months without securing a single fish. Not only had barrels of beef and bread been given away to make room for the far more valuable sperm, but additional <strong>supplemental casks</strong> had been bartered for, from the ships she had met; and these were stowed along the deck, and in the captain’s and officers’ state-rooms.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="wow fadeInRight" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                    <p>
                        In the forecastle, the sailors had actually caulked and pitched their chests, and filled them; it was humorously added, that the cook had clapped a head on his <em>largest boiler</em>, and filled it; that the steward had plugged his spare coffee-pot and filled it.
                    </p>
                    <p>
                        The harpooneers had headed the sockets of their irons and filled them; that indeed everything was filled with sperm, except the captain’s pantaloons pockets, and those he reserved to thrust his hands into, in self-complacent testimony of his entire satisfaction.As this glad ship of good luck bore down upon the moody Pequod, the <strong>Barbarian Sound</strong> of enormous drums came from her forecastle.
                    </p>
                    <p>
                        Drawing still nearer, <strong>a crowd of men were seen standing</strong> round her huge try-pots, which, covered her with the parchment-like POKE or stomach skin of the black fish, gave forth a loud roar to every stroke of the clenched hands of the crew. On the quarter-deck, the mates and harpooneers were dancing with the olive-hued girls who had eloped with them from the Polynesian Isles.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>