<div class="main-menu">
    <div class="main-menu-inner">
        <ul class="main-nav os-font" data-offset="66">
            <li><a class="onepage" routerLink="/">Home</a></li>
            <li><a class="onepage" routerLink="/journeys">Journeys</a></li>
            <li *ngIf="isLogin"><a class="onepage" routerLink="/journeys/create">New Journey</a></li>
        </ul>
    </div>
    <div class="right-menu">
        <ul class="main-nav os-font" data-offset="66">
            <li *ngIf="isLogin">
                <div class="p-2 white os-font welcome" data-offset="66">
                    Welcome {{profile.name}}
                </div>
            </li>
            <li *ngIf="!isLogin"><a class="onepage" routerLink="/register">Register</a></li>
            <li *ngIf="!isLogin"><a class="onepage" routerLink="/login">Login</a></li>
            <li><a *ngIf="isLogin" (click)="logout()" href="#">Logout</a></li>
        </ul>
    </div>
</div>