<div class="main-menu">
    <div class="main-menu-inner">
        <ul class="main-nav os-font" data-offset="66">
            <li><a class="onepage" routerLink="/">Home</a></li>
            <li><a class="onepage" routerLink="/journeys">Journeys</a></li>
            <li><a class="onepage" routerLink="/journeys/create">New Journey</a></li>
            <li><a class="onepage" routerLink="/register">Register</a></li>
            <li><a class="onepage" routerLink="/login">Login</a></li>
        </ul>
    </div>
</div>