<div class="pt-0 pb-2" *ngIf="journey">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div data-wow-delay="0.3s" class="text-center mb-6 wow fadeInUp" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <i class="mdi-ticket icon-title"></i>
                    <h2 class="fw-bold os-font color-2 fz-53 double_lined mb-1">{{journey.title}}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div data-wow-delay="0.3s" class="wow fadeInLeft" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section pt-1 pb-2" *ngIf="journey">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div data-wow-delay="0.3s" class="service-item mb-5 text-center wow fadeIn" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                    <div class="service-icon">
                        <i class="mdi-forum color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font color-2">Start Date</h4> 
                        <p>
                            {{journey.start_date | date:"MMM dd, YYYY":"+000"}}
                        </p> 
                    </div>
                </div>
            </div>
        
            <div class="col-sm-4">
                <div data-wow-delay="0.4s" class="service-item mb-5 text-center wow fadeIn" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                    <div class="service-icon">
                        <i class="mdi-tooltip-text color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font color-2">Start Point</h4> 
                        <p>
                            {{journey.check_points[0] ? journey.check_points[0].name : ""}}
                        </p> 
                        <p>
                            [{{journey.check_points[0] ? journey.check_points[0].location : ""}}]
                        </p> 
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-wow-delay="0.5s" class="service-item mb-5 text-center wow fadeIn" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                    <div class="service-icon">
                        <i class="mdi-spotlight color"></i>
                    </div>
                    <div class="service-content text-center">
                        <h4 class="os-font color-2">End Point</h4> 
                        <p>
                            {{journey.check_points[1]?journey.check_points[1].name: ""}}
                        </p> 
                        <p>
                            [{{journey.check_points[1] ? journey.check_points[1].location : ""}}]
                        </p> 
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="mb-2">
                <h4>Journeys nearby:</h4>
            </div>
            <div class="accordion mb-3" *ngFor="let journey of nearJourneys">
                <div class="accordion-group toggle toggle_default toggle_color_default toggle_size_md">
                    <div class="accordion-heading toggle_title">
                        <a routerLink="/journey/{{journey._id}}" class="accordion-toggle dark-color pull-left" data-toggle="collapse" aria-expanded="true" aria-controls="collapse1">
                            {{journey.title}} - ( {{journey.check_points[0].name}} - {{journey.check_points[1].name}} )
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 mt-4">
            <button class="btn btn-color uppercase os-font" routerLink="/journey/{{journey._id}}/edit">Edit</button>
        </div>
    </div>
</div>