<div id="faqs" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div data-wow-delay="0.3s" class="text-center mb-6 wow fadeInUp" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <i class="mdi-map icon-title"></i>
                    <h2 class="fw-bold os-font color-2 fz-53 double_lined mb-1">Your Journeys</h2>
                    <p class="dark-color fz-19 mb-2">
                        <em>Don't Worry, Be Happy</em>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div data-wow-delay="0.3s" class="wow fadeInLeft" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <div class="row mb-2">
                        <div class="col-sm-10">
                            <input type="text" class="highlighted search" placeholder="Enter journey title" required [(ngModel)]="searchTermInput"/> 
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-color uppercase os-font fluid" (click)="searchByName()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm-12">
                <div class="accordion mb-3" *ngFor="let journey of journeys">
                    <div class="accordion-group toggle toggle_default toggle_color_default toggle_size_md">
                        <div class="accordion-heading toggle_title">
                            <a routerLink="/journey/{{journey._id}}" class="accordion-toggle dark-color pull-left" data-toggle="collapse" aria-expanded="true" aria-controls="collapse1">
                                {{journey.title}}
                            </a>
                            <small *ngIf="isLogin" class="pr-1 pt-1 pull-right delete" (click)="delete(journey._id)"><i class="mdi-close icon-title remove"></i></small>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 mt-4">
                <div>
                    Item of page: 
                    <select (change)="onChangeLimit($event)">
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                    </select>
                </div>
                <div class="pull-right">
                    <button class="btn btn-color uppercase os-font" [disabled]="offset <= 0" (click)="previousPage()">Previous</button>
                    <button class="btn btn-color uppercase os-font ml-2" [disabled]="resultCount < limit" (click)="nextPage()">Next</button>
                </div>
                
            </div>
        </div>
    </div>
</div>