<div id="about" class="section pt-7 pb-9 mb-9">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div data-wow-delay="0.3s" class="text-center mb-5 wow fadeInUp" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <i class="mdi-image-filter-hdr icon-title"></i>
                    <h2 class="fw-bold os-font color-2 fz-53 double_lined mb-1">About Me</h2>
                    <p class="dark-color fz-19">
                        <em>The day we stop resisting our instincts, we will have learned how to live.</em>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-0">
                <div data-wow-delay="0.3s" class="portfolio-grid wow fadeIn" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                    <div class="portfolio-masonry-item text-center col-lg-6 col-md-6 col-sm-6 col-xs-12 p-0 m-0">
                        <a class="mfp-ajax" routerLink="/journeys">
                            <div class="grid-image-wrapper">
                                <div class="grid-overlay" data-color="rgba(76, 102, 88 ,0.35)" style="background-color: rgba(76, 102, 88, 0.35);"></div>
                                <div class="grid-thumbnail">
                                    <img src="assets/images/portfolio_1.jpg" alt="">
                                </div>
                                <div class="grid-content-wrapper">
                                    <div class="grid-content-inner">
                                        <div class="grid-content">
                                            <h3 class="white fw-600 os-font">Beach Passage</h3>
                                            <div class="liner"></div>
                                            <div class="grid-cate white">Outdoor, Physical, Relaxing</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-masonry-item text-center col-lg-6 col-md-6 col-sm-6 col-xs-12 p-0 m-0">
                        <a class="mfp-ajax" routerLink="/journeys">
                            <div class="grid-image-wrapper">
                                <div class="grid-overlay" data-color="rgba(76, 102, 88 ,0.35)" style="background-color: rgba(76, 102, 88, 0.35);"></div>
                                <div class="grid-thumbnail">
                                    <img src="assets/images/portfolio_2.jpg" alt="">
                                </div>
                                <div class="grid-content-wrapper">
                                    <div class="grid-content-inner">
                                        <div class="grid-content">
                                            <h3 class="white fw-600 os-font">River Rafting</h3>
                                            <div class="liner"></div>
                                            <div class="grid-cate white">Endurance, Outdoor, Physical</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-masonry-item text-center col-lg-6 col-md-6 col-sm-6 col-xs-12 p-0 m-0">
                        <a class="mfp-ajax" routerLink="/journeys">
                            <div class="grid-image-wrapper">
                                <div class="grid-overlay" data-color="rgba(76, 102, 88 ,0.35)" style="background-color: rgba(76, 102, 88, 0.35);"></div>
                                <div class="grid-thumbnail">
                                    <img src="assets/images/portfolio_3.jpg" alt="">
                                </div>
                                <div class="grid-content-wrapper">
                                    <div class="grid-content-inner">
                                        <div class="grid-content">
                                            <h3 class="white fw-600 os-font">Surf Experience</h3>
                                            <div class="liner"></div>
                                            <div class="grid-cate white">Outdoor, Physical, Relaxing</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-masonry-item text-center col-lg-6 col-md-6 col-sm-6 col-xs-12 p-0 m-0">
                        <a class="mfp-ajax" routerLink="/journeys">
                            <div class="grid-image-wrapper">
                                <div class="grid-overlay" data-color="rgba(76, 102, 88 ,0.35)" style="background-color: rgba(76, 102, 88, 0.35);"></div>
                                <div class="grid-thumbnail">
                                    <img src="assets/images/portfolio_4.jpg" alt="">
                                </div>
                                <div class="grid-content-wrapper">
                                    <div class="grid-content-inner">
                                        <div class="grid-content">
                                            <h3 class="white fw-600 os-font">Speed Boat</h3>
                                            <div class="liner"></div>
                                            <div class="grid-cate white">Endurance, Outdoor, Relaxing</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-masonry-item text-center col-lg-6 col-md-6 col-sm-6 col-xs-12 p-0 m-0">
                        <a class="mfp-ajax" routerLink="/journeys">
                            <div class="grid-image-wrapper">
                                <div class="grid-overlay" data-color="rgba(76, 102, 88 ,0.35)" style="background-color: rgba(76, 102, 88, 0.35);"></div>
                                <div class="grid-thumbnail">
                                    <img src="assets/images/portfolio_5.jpg" alt="">
                                </div>
                                <div class="grid-content-wrapper">
                                    <div class="grid-content-inner">
                                        <div class="grid-content">
                                            <h3 class="white fw-600 os-font">Weekend Trek</h3>
                                            <div class="liner"></div>
                                            <div class="grid-cate white">Endurance, Outdoor, Physical</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-masonry-item text-center col-lg-6 col-md-6 col-sm-6 col-xs-12 p-0 m-0">
                        <a class="mfp-ajax" routerLink="/journeys">
                            <div class="grid-image-wrapper">
                                <div class="grid-overlay" data-color="rgba(76, 102, 88 ,0.35)" style="background-color: rgba(76, 102, 88, 0.35);"></div>
                                <div class="grid-thumbnail">
                                    <img src="assets/images/portfolio_6.jpg" alt="">
                                </div>
                                <div class="grid-content-wrapper">
                                    <div class="grid-content-inner">
                                        <div class="grid-content">
                                            <h3 class="white fw-600 os-font">Sunset Running</h3>
                                            <div class="liner"></div>
                                            <div class="grid-cate white">Outdoor, Physical, Relaxing</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>